APP_ENV=dev
APP_SECRET=

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=!ChangeMe!
POSTGRES_VERSION=18

DATABASE_URL="postgresql://app:!ChangeMe!@database:5432/app?serverVersion=18&charset=utf8"
MAILER_DSN=smtp://mailpit:1025
REDIS_URL=redis://redis:6379

